<div class="banner">
	<div class="banner-content">
		<div class="padding">

			<h1> New restaurants</h1>

			<%= simple_form_for @restaurant do |t| %>

			<% if @restaurant.errors.any? %>
			<div id="error_explanation">
				<ul>
					<% @restaurant.errors.full_messages.each do |message| %>
					<li><%= message %></li>
					<% end %>
				</ul>
			</div>
			<% end %>

			<%= t.input :name, placeholder: "Anthony" %>

			<%= t.input :address, placeholder: "belgian Street" %>
			<%= t.input :phone_number, placeholder: "+33872687428" %>

			<%= t.input :category, placeholder: "category", :collection => ["chinese", "italian", "japanese", "french", "belgian"] %>
			<br>

			<%= t.button :submit, label: "Add a new restaurant", class: "btn btn-primary" %>
			<% end %>
		</div>
	</div>
</div>
