<% content_for(:title) do %>
<%= @restaurant.name %>
<% end %>
<div class="banner">
	<div class="banner-content">
		<div class="padding">
			<h1><%= @restaurant.name  %></h1>
			<ul>
				<li>
					
					<p><%="address: "  %><%= @restaurant.address  %></p>
				</li>

				<li>
					
					<p><%="phone number: "  %><%= @restaurant.phone_number  %></p>
				</li>

				<li>
					<p><%="category: "  %><%= @restaurant.category  %></p>
					<ul>
						<% @restaurant.reviews.all.each do |review| %>
						<li><%= review.content  %>
							<%= " - rating: [" %> 
							<%= review.rating  %> 
							<%= "]" %> 
						</li>
						<br>
						<%end%>

					</ul>
				</li>
				<li>
					<p id="link"> <%= link_to 'New review', new_restaurant_review_path(@restaurant) %></p>
				</li>
			</ul>

		</div>
	</div>
</div>